{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Createdate</th>
                <th>Iswinner</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('video_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.link }}</td>
                <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isWinner }}</td>
                <td>{{ entity.path }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('video_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('video_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('video_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
