{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register cc-register-form">
    <div class="cc-wrapper">
        <h1 class="cc-register-title">Registre-se para fazer parte do Clube dos Criadores</h1>
        <div class="cc-errors">
            {{ form_errors(form) }}
            {{ form_errors(form.email) }}

            {{ form_errors(form.name) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_errors(form.birthDate) }}
            {{ form_errors(form.gender) }}
            {{ form_errors(form.username) }}
            {{ form_errors(form.isAgree) }}
        </div>
        <div class="cc-register-wrapper">



                <div class="cc-form-input">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="cc-form-input">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="cc-form-input">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>

                <div class="cc-form-input">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>

                <div class="cc-form-date">
                    {{ form_label(form.birthDate) }}
                    {{ form_widget(form.birthDate) }}
                </div>

                <div class="cc-form-select">
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>

                <div class="cc-form-input">
                    {{ form_label(form.username) }}
                    <span>www.clubedoscriadores.com.br/criador/</span>
                    {{ form_widget(form.username) }}
                </div>

                <div class="cc-form-checkbox">
                    {{ form_widget(form.isAgree) }}
                    {{ form_label(form.isAgree) }}
                </div>
                {{ form_widget(form._token) }}
                <div class="cc-form-submit">
                    <button class="cc-button">Registrar</button>
                </div>

            <div class="cc-login-row">
                <ul class="cc-login-social">
                    {% for owner in hwi_oauth_resource_owners() %}
                        <li class="cc-login-social-item">
                            <a href="{{ hwi_oauth_login_url(owner) }}">
                                <img src="/bundles/site/images/{{ owner }}.png" alt="{{ owner }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="cc-login-text"><p class="cc-login-text-p">Ou use as redes sociais para entrar</p></div>
            </div>
        </div>
        <div class="cc-register-image">
            <img src="{{ asset('bundles/site/images/registrar.png') }}" alt="Registrar" />
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/site/js/jquery.friendurl.js') }}"></script>
        <script type="text/javascript">
            $(function(){
                $('#fos_user_registration_form_name').friendurl({id : 'fos_user_registration_form_username'});
            });
        </script>
    {% endblock %}

</form>
