{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
    <section class="cc-project">
        <div class="cc-wrapper">
            <h1 class="cc-project-title">{{ 'Escolha um projeto' }}</h1>
            <ul class="cc-project-itens">
                {% for entity in entities %}
                    <li class="cc-project-item{% if loop.index % 4 == 0 %}{{ ' cc-last' }}{% endif %}">
                        <div class="cc-project-image">
                            <a href="{{ path('projetos_show', { 'id': entity.id }) }}">
                                <img class="cc-project-img" src="{{ asset(entity.getWebPath()) }}" alt="{{ entity.name }}" />
                            </a>

                        </div>
                        <h2 class="cc-project-name" title="{{ entity.name }}">{{ entity.name }}</h2>
                        <p class="cc-project-prize">{{ 'R$ ' }}{{ entity.totalPrize|number_format(2, ',', '.')  }}</p>
                        <div class="cc-project-end">
                            <p class="cc-project-end-text">{{ entity.renderEndDate() }}</p>
                            <div class="cc-project-end-bar" style="width:{{ entity.renderBar() }}%"></div>
                        </div>
                        <div class="cc-project-status">
                            {% if entity.projectStatus.name == 'Ideia' %}
                                <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                            {% endif %}
                            {% if entity.projectStatus.name == 'Video' %}
                                <img src="{{ asset('bundles/site/images/project/movie-icon.png')}}" alt="Video" />
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
