<section class="cc-project-section">
    <dl class="cc-project-brief-itens">
        <dt class="cc-project-brief-title">{{ 'Vídeos enviados' }}</dt>
        <dd class="cc-project-brief-detail">

            <script src="{{ asset('bundles/site/media/mediaelement-and-player.min.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('bundles/site/media/mediaelementplayer.css') }}" />

            <ul class="cc-project-prize-itens">
                {% for video in pagination %}
                    <li class="cc-project-video-item">
                        <h2 class="cc-project-prize-itens-title">{{ video.title }}</h2>

                        <video src="https://s3.amazonaws.com/ccriadores-videos-transcode/cc360/{{ video.id }}.mp4" poster="https://s3.amazonaws.com/ccriadores-videos-thumbs/cc360/t{{ video.id }}-00001.png" width="360"></video>
                        <a href="{{ path('video_edit', {'id':video.id}) }}">Editar</a>
                    </li>
                {% endfor %}
            </ul>

            <script>
                // using jQuery
                $('video,audio').mediaelementplayer(/* Options */);
            </script>
        </dd>
    </dl>

    <link rel="stylesheet" href="{{ asset('bundles/site/css/pagination.css') }}" type="text/css" media="all" />

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

</section>