{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<!--[if gte IE 9]>
	  <style type="text/css">
		.gradient {
		   filter: none;
		}
	  </style>
	<![endif]-->
    <section class="cc-project-show">
        <div class="cc-project-top">
            <div class="cc-project-image">
                <img class="cc-project-img" src="{{ asset(entity.getWebPath()) }}" alt="{{ entity.name }}" />
            </div>
            <div class="cc-project-submit">
                <h1 class="cc-project-title">{{ entity.name }}</h1>
                <p class="cc-project-prize">{{ 'R$ ' }}{{ entity.totalPrize|number_format(2, ',', '.')  }}</p>
				<div class="cc-progress">
					<div class="cc-progress-title">
						<div class="cc-progress-title-idea" style="left:{{ entity.renderPositionIdea() }}%">{{ 'Ideia' }}</div> 
						<div class="cc-progress-title-last">{{ 'Vídeo' }}</div> 
					</div>
					<div class="cc-progress-back">
						<div class="cc-progress-bar" style="width:{{ entity.renderBarReverse() }}%"></div>
						<div class="cc-progress-end cc-progress-idea" style="left:{{ entity.renderPositionIdea() }}%"><img src="{{ asset('bundles/site/images/project/prize.png') }}" alt="p" /></div>
						<div class="cc-progress-end cc-progress-last"><img src="{{ asset('bundles/site/images/project/prize.png') }}" alt="p" /></div>
					</div>
					<div class="cc-progress-date">
						<div class="cc-progress-date-idea" style="left:{{ entity.renderPositionIdea() }}%">{{ entity.ideaEndDate|date('d-m-Y') }}</div> 
						<div class="cc-progress-date-last">{{ entity.videoEndDate|date('d-m-Y') }}</div> 
					</div>
				</div>
                <dl class="cc-calendar">
                    <dt class="cc-calendar-title">{{ entity.endDate|datetime('%b') }}</dt>
                    <dd class="cc-calendar-content">{{ entity.endDate|date('d') }}</dd>
                </dl>
				<div class="cc-project-submit-area">
					<div class="cc-project-end-date">
						<p class="cc-project-end-date-text">{{ entity.renderRemaining() }}</p>
					</div>
					<div class="cc-project-submit-button">
						<a class="cc-button" href="" >Envie seu video</a>
					</div>
				</div>
            </div>
        </div>
        <div></div>
        <div>
            <nav class="cc-project-nav">
                <ul class="cc-project-nav-itens">
                    <li class="cc-project-nav-item cc-selected"><a href="#" class="cc-project-nav-link">{{ 'Instruções' }}</a></li>
                    <li class="cc-project-nav-item"><a href="#" class="cc-project-nav-link">{{ 'Premiados' }}</a></li>
                    <li class="cc-project-nav-item"><a href="#" class="cc-project-nav-link">{{ 'Fórum' }}</a></li>
                </ul>
            </nav>
            <section class="cc-project-section">
                <dl class="cc-project-brief-itens">
                    <dt class="cc-project-brief-title">{{ 'Objetivos' }}</dt>
                    <dd class="cc-project-brief-detail">{{ entity.objective }}</dd>
                    <dt class="cc-project-brief-title">{{ 'Detalhes' }}</dt>
                    <dd class="cc-project-brief-detail">{{ entity.detail }}</dd>
                    <dt class="cc-project-brief-title">{{ 'Requisitos' }}</dt>
                    <dd class="cc-project-brief-detail">{{ entity.requirements }}</dd>
                </dl>
            </section>
        </div>
    </section>

{% endblock %}
