{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
    <section class="cc-project-show">
        <div>
            <div>
                <img src="{{ asset(entity.getWebPath()) }}" alt="{{ entity.name }}" />
            </div>
            <div>
                <h1>{{ entity.name }}</h1>
                <p>{{ 'R$ ' }}{{ entity.totalPrize|number_format(2, ',', '.')  }}</p>
                <dl>
                    <dt>Fev</dt>
                    <dd>05</dd>
                </dl>
                <div>
                    <a href="" />

                </div>
                <div><span>01</span>M<span>8</span>D</div>
            </div>
        </div>
        <div></div>
        <div>
            <nav>
                <ul>
                    <li>{{ 'Instruções' }}</li>
                    <li>{{ 'Premiados' }}</li>
                    <li>{{ 'Fórum' }}</li>
                </ul>
            </nav>
            <section>
                <dl>
                    <dt>{{ 'Objetivos' }}</dt>
                    <dd>{{ entity.objective }}</dd>
                    <dt>{{ 'Detalhes' }}</dt>
                    <dd>{{ entity.detail }}</dd>
                    <dt>{{ 'Requisitos' }}</dt>
                    <dd>{{ entity.requirements }}</dd>
                </dl>
            </section>
            <section>
                <dl>
                    <dt>{{ 'Ideias premiadas' }}</dt>
                    <dd></dd>
                    <dt>{{ 'Videos premiados' }}</dt>
                    <dd></dd>
                </dl>
            </section>
            <section>

            </section>
        </div>
    </section>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td></td>
            </tr>
            <tr>
                <th>Detail</th>
                <td></td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td></td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{{ entity.createDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ideaenddate</th>
                <td>{{ entity.ideaEndDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Videoenddate</th>
                <td>{{ entity.videoEndDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Totalprize</th>
                <td>{{ entity.totalPrize }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projetos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projetos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
