<section class="cc-project-section">
    <dl class="cc-project-brief-itens">
        <dt class="cc-project-brief-title">{{ 'Objetivos' }}</dt>
        <dd class="cc-project-brief-detail">{{ entity.objective|raw }}</dd>
        <dt class="cc-project-brief-title">{{ 'Detalhes' }}</dt>
        <dd class="cc-project-brief-detail">{{ entity.detail|raw }}</dd>
        <dt class="cc-project-brief-title">{{ 'Requisitos' }}</dt>
        <dd class="cc-project-brief-detail">{{ entity.requirements|raw }}</dd>
    </dl>
</section>