<!DOCTYPE html>
<html>
	<head>
		<title>
		  {% block title %}
			Clube dos criadores
		  {% endblock %}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/site/css/main.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/home.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/criadores.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/login.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/registro.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/projetos.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/css/form.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/site/fancy/jquery.fancybox.css') }}" type="text/css" media="all" />
            <style>
                .cc-ico-sprite{ background-image: url("{{ asset('bundles/site/images/sprite.png') }}"); }
                .cc-img-sprite{ background-image: url("{{ asset('bundles/site/images/sprite-home.png') }}"); }
                .cc-img2-sprite{ background-image: url("{{ asset('bundles/site/images/sprite-criadores.png') }}"); }
                .cc-decote{ background-image: url("{{ asset('bundles/site/images/decote.png') }}"); }
                .cc-about-nav-decote{ background-image: url("{{ asset('bundles/site/images/decote-2.png') }}"); }
            </style>
		{% endblock %}
		<script type="text/javascript" src="{{ asset('bundles/site/js/jquery-1.10.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/site/js/jquery.mousewheel-3.0.6.pack.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/site/fancy/jquery.fancybox.js?v=2.1.5') }}"></script>
		{% block javascripts %}
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('bundles/ensjobeet/images/favicon.ico') }}" />
	</head>
	<body>
        <div id="container">
            <div id="header">
                <header class="cc-header">
                    <div class="cc-header-wrapper">
                        <div class="cc-logo">
                            <a href="{{ path('site_homepage') }}">
                                <img class="cc-logo-img" src="{{ asset('bundles/site/images/logo.png')}}" alt="Clube dos criadores" />
                            </a>
                        </div>
                        <div class="cc-layout-login">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <span class="">{{app.user.username}}</span>
                                <span class="cc-layout-login-separator"> | </span>
                                <a class="cc-layout-login-link" href="{{ path('fos_user_security_logout') }}">Sair</a>
                            {% else %}
                                <a href="{{ path('fos_user_registration_register') }}" class="cc-layout-login-link">Criar uma conta</a>
                                <span class="cc-layout-login-separator"> | </span>
                                <a class="cc-layout-login-link" href="{{ path('fos_user_security_login') }}">Login</a>
                            {% endif %}

                            {% for type, messages in app.session.flashbag.all() %}
                                {% for key, message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message|trans({}, 'FOSUserBundle') }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                        </div>


                    </div>
                </header>
                <nav class="cc-nav">
                    <ul class="cc-nav-itens">
                        <li class="cc-nav-item"><a href="{{ path('projetos') }}" class="cc-nav-link">Projetos</a></li>
                        <li class="cc-nav-item"><a href="#" class="cc-nav-link">Ranking</a></li>
                        <li class="cc-nav-item"><a href="{{ path('site_contato') }}" class="cc-nav-link">Contato</a></li>
                        <li class="cc-nav-item"><a href="#" class="cc-nav-link">Sobre</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cc-content" id="body">
                <div class="cc-wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer">
                <footer class="cc-footer">
                    <div class="cc-footer-wrapper">
                        <table class="cc-footer-table">
                            <tbody class="cc-footer-table-tbody">
                                <tr class="cc-footer-table-tr">
                                    <td class="cc-footer-table-td"><a href="{{ path('site_empresas') }}" class="cc-footer-link">Para marcas</a></td>
                                    <td class="cc-footer-table-td"><a href="{{ path('site_criadores') }}" class="cc-footer-link">Para criadores</a></td>
                                    <td class="cc-footer-table-td"><a href="#" class="cc-footer-link">{{'Termos & Condições'}}</a></td>
                                </tr>
                                <tr class="cc-footer-table-tr">
                                    <td class="cc-footer-table-td"><a href="{{ path('site_comofunciona') }}" class="cc-footer-link">Como funciona</a></td>
                                    <td class="cc-footer-table-td"><a href="{{ path('site_contato') }}" class="cc-footer-link">Contato</a></td>
                                    <td class="cc-footer-table-td"><a href="#" class="cc-footer-link">{{'Politica de privacidade'}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="cc-footer-social">
                            <a href="#" class="cc-ico-twitter cc-ico-sprite">siga no twitter</a>
                            <a href="#" class="cc-ico-facebook cc-ico-sprite">siga no facebook</a>
                            <a href="#" class="cc-ico-linkedin cc-ico-sprite">siga no linkedin</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
	</body>
</html>