{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<section class="cc-about-section">
		<nav class="cc-about-nav">
			<ul class="cc-about-nav-itens">
				<li class="cc-about-nav-item"><a href="{{ path('site_criadores') }}" class="cc-about-nav-link">Para criadores</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_empresas') }}" class="cc-about-nav-link">Para marcas</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_comofunciona') }}" class="cc-about-nav-link cc-selected">Como funciona</a></li>
			</ul>
		</nav>
		<div class="cc-about-nav-content">
			<p class="cc-about-nav-text">{{ 'Usar o poder da internet para alcançar pessoas que podem fazer o trabalho, de onde quer que elas estejam' }}</p>
		</div>
		<div class="cc-about-nav-decote"></div>
	</section>
	<section class="cc-about-section">
		<div class="cc-people-image"><img src="{{ asset('bundles/site/images/pessoas.png')}}" alt="Rede de pessoas" /></div>
		<p class="cc-people-text">{{ 'Respondemos a necessidade crescente e de complexa resolução no mercado de comunicação atual:' }}<br>{{'“Como fidelizar e engajar os clientes?”' }}</p>
	</section>
	<section class="cc-about-section">
		<div class="cc-briefing">
			<div class="cc-briefing-wrapper">
				<ul class="cc-briefing-itens">
					<li class="cc-briefing-item">
						<h2 class="cc-briefing-title">1 - Briefing</h2>
						<p class="cc-briefing-text">{{ 'A marca insere o briefing, com os detalhes necessários para a criação do conceito. Um concurso é lançado para toda a rede de criadores, com prêmios em dinheiro e pontos para os vencedores.' }}</p>
					</li>
					<li class="cc-briefing-item cc-item-2">
						<h2 class="cc-briefing-title">2 - Ideia</h2>
						<p class="cc-briefing-text">{{ 'A rede criativa envia conceitos (roteiros e ideias) de acordo com o briefing. Uma comissão julgadora analisa todos os conceitos e escolhe os melhores. Os criadores ganham dinheiro e pontos por isso.' }}</p>
					</li>
					<li class="cc-briefing-item cc-item-3">
						<h2 class="cc-briefing-title">{{ '3 - Produção' }}</h2>
						<p class="cc-briefing-text">{{ 'A rede cria os vídeos de acordo com os conceitos vencedores, ou podem criar livremente. Uma comissão julgadora analisa e escolhe os vencedores. Criadores ganham dinheiro e pontos por isso.' }}</p>
					</li>
				</ul>
			</div>
			<div class="cc-briefing-feature">
				<p class="cc-briefing-feature-text">Conteúdo rico para a sua marca!</p>
			</div>
			<div class="cc-briefing-background">
				<div class="cc-arrow">
					<div class="cc-arrow-shadow">
						<div class="cc-arrow-shadow-body"></div>
						<div class="cc-arrow-shadow-front"></div>
					</div>
					<div class="cc-arrow-inner">
						<div class="cc-arrow-body"></div>
						<div class="cc-arrow-front"></div>
					</div>
				</div>
				<div class="cc-arrow-2">
					<div class="cc-arrow-shadow">
						<div class="cc-arrow-shadow-body"></div>
						<div class="cc-arrow-shadow-front"></div>
					</div>
					<div class="cc-arrow-inner">
						<div class="cc-arrow-body"></div>
						<div class="cc-arrow-front"></div>
					</div>
				</div>
				<div class="cc-arrow-3">
					<div class="cc-arrow-shadow">
						<div class="cc-arrow-shadow-body"></div>
						<div class="cc-arrow-shadow-front"></div>
					</div>
					<div class="cc-arrow-inner">
						<div class="cc-arrow-body"></div>
						<div class="cc-arrow-front"></div>
					</div>
				</div>				
			</div>
		</div>
	</section>
	
	<section class="cc-about-section">
		<div class="cc-crowsrc-wrapper">
			<h2 class="cc-crowsrc-title">{{ '“Conceito de crowdsourcing”' }}</h2>
			<p class="cc-crowsrc-text">{{ 'Aplicado para a criação de conteúdo em vídeo de alta qualidade, que será utilizado por sua marca em todos os seus ambientes digitais, e “não-digitais” também.' }}</p>
		</div>
		<div class="cc-crowsrc-image"><img src="{{ asset('bundles/site/images/rede.png')}}" alt="Rede de ideias" /></div>
		
	</section>
{% endblock %}
