{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<section class="cc-about-section">
		<nav class="cc-about-nav">
			<ul class="cc-about-nav-itens">
				<li class="cc-about-nav-item"><a href="{{ path('site_criadores') }}" class="cc-about-nav-link">Para criadores</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_empresas') }}" class="cc-about-nav-link">Para marcas</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_comofunciona') }}" class="cc-about-nav-link cc-selected">Como funciona</a></li>
			</ul>
		</nav>
		<div class="cc-about-nav-content">
			<p class="cc-about-nav-text">{{ 'Usar o poder da internet para alcançar pessoas que podem fazer o trabalho, de onde quer que elas estejam' }}</p>
		</div>
		<div class="cc-about-nav-decote"></div>
	</section>
	<section class="cc-about-section">
		<div class="cc-people-image"><img src="{{ asset('bundles/site/images/pessoas.png')}}" alt="Rede de pessoas" /></div>
		<p class="cc-people-text">{{ 'Respondemos a necessidade crescente e de complexa resolução no mercado de comunicação atual:' }}<br>{{'“Como fidelizar e engajar os clientes?”' }}</p>
	</section>

	
	<section class="cc-about-section">
		<div>
			<h2 class="cc-crowsrc-title">{{ '"Conceito de crowdsourcing"' }}</h2>
			<p class="cc-crowsrc-text">{{ 'De um lado, as marcas inserem suas necessidades (briefing) para a produção de vídeos que serão utilizados em suas propriedades digitais (facebook, youtube, instagram, etc.). Na outra ponta, uma rede criativa: profissionais do setor, estudantes de publicidade e propaganda, produtoras e produtores independentes de conteúdo em vídeo postam suas ideias, roteiros e vídeos e concorrem a prêmios em dinheiro, além de pontos para todas as inscrições de acordo com notas dadas pela marca, que serão trocados por produtos e serviços dos patrocinadores.' }}</p>
            <p class="cc-crowsrc-text">{{ 'Centenas de milhares de pessoas de todo o Brasil, tendo diferentes ideias de forma coletiva e produzindo conteúdo vivo para suas marcas preferidas. Esse é o conceito de crowdsourcing, já amplamente usado em outros mercados, como nos Estados Unidos (inclusive produzindo filmes para o Superbowl) e Europa.' }}</p>
		</div>
		
	</section>
{% endblock %}
