{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<section class="cc-about-section">
		<nav class="cc-about-nav">
			<ul class="cc-about-nav-itens">
				<li class="cc-about-nav-item"><a href="{{ path('site_criadores') }}" class="cc-about-nav-link">Para criadores</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_empresas') }}" class="cc-about-nav-link">Para marcas</a></li>
				<li class="cc-about-nav-item"><a href="{{ path('site_comofunciona') }}" class="cc-about-nav-link cc-selected">Como funciona</a></li>
			</ul>
		</nav>
		<div class="cc-about-nav-content">
			<p class="cc-about-nav-text">{{ 'Usar o poder da internet para alcançar pessoas que podem fazer o trabalho, de onde quer que elas estejam' }}</p>
		</div>
		<div class="cc-about-nav-decote"></div>
	</section>
	<section class="cc-about-section">
		<div class="cc-people-image"><img src="{{ asset('bundles/site/images/pessoas.png')}}" alt="Rede de pessoas" /></div>
		<p class="cc-people-text">{{ 'Respondemos a necessidade crescente e de complexa resolução no mercado de comunicação atual:' }}<br>{{'“Como fidelizar e engajar os clientes?”' }}</p>
	</section>

	
	<section class="cc-about-section">
		<div>
			<h2 class="cc-crowsrc-title">{{ '“Conceito de crowdsourcing”' }}</h2>
			<p class="cc-crowsrc-text">{{ 'Aplicado para a criação de conteúdo em vídeo de alta qualidade, que será utilizado por sua marca em todos os seus ambientes digitais, e “não-digitais” também.' }}</p>
		</div>
		
	</section>
{% endblock %}
