{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
<form action="{{ path('site_contato') }}" {{ form_enctype(form) }} method="POST" class="cc-login-form cc-contact">
    <h1 class="cc-login-title">{{ 'Entre em contato conosco para esclarecer dúvidas, nos enviar sugestões e críticas' }}</h1>
	<div class="cc-login-wrapper">

		

		<div class="cc-form-input">
			{{ form_label(form.name) }}
			{{ form_errors(form.name) }}
			{{ form_widget(form.name) }}
		</div>

		<div class="cc-form-input">
			{{ form_label(form.email) }}
			{{ form_errors(form.email) }}
			{{ form_widget(form.email) }}
		</div>

		<div class="cc-form-input">
			{{ form_label(form.subject) }}
			{{ form_errors(form.subject) }}
			{{ form_widget(form.subject) }}
		</div>
		
		<div class="cc-form-textarea">
			{{ form_label(form.message) }}
			{{ form_errors(form.message) }}
			{{ form_widget(form.message) }}
		</div>
		{{ form_widget(form._token) }}
		<div class="cc-form-submit">
			<button class="cc-button">Registrar</button>
		</div>
	</div>
	<div class="cc-contact-image">
		<img src="{{ asset('bundles/site/images/contato.png') }}" alt="Contato" />
	</div>
	{{ form_errors(form) }}
</form>
{% endblock %}