{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<section class="cc-home-top">
		<h1 class="cc-header">{{ '“Conectamos grandes marcas com' }}<br>{{'o poder da criação coletiva”' }}</h1>
		<p class="cc-text">{{ 'O Clube dos Criadores é a primeira plataforma criativa social brasileira dedicada a criação de vídeos publicitários online (online advertising videos). Contamos com uma rede de milhares de pessoas talentosas e criativas em todo o Brasil.' }}</p>
		<div class="cc-img-ideia cc-img-sprite"></div>
		<div class="cc-decote"></div>
	</section>
	<section class="cc-home-bottom">
		<ul class="cc-about-itens">
			<li class="cc-about-item">
				<div class="cc-img-camera cc-img-sprite"></div>
				<div class="cc-about-wrapper">
					<h2 class="cc-header-2">Para criadores</h2>
					<p class="cc-text-2">{{ 'Se você tem uma idéia ou é um cineasta de pleno direito, temos oportunidades para você.' }}</p>
					<p class="cc-button-area"><a href="#" class="cc-button">Saiba mais</a></p>
				</div>
			</li>
			<li class="cc-about-item">
				<div class="cc-img-predio cc-img-sprite"></div>
				<div class="cc-about-wrapper">
					<h2 class="cc-header-2">Para marcas</h2>
					<p class="cc-text-2">{{ 'Oferecemos uma maneira nova e poderosa para começar o trabalho criativo a partir de grandes idéias' }}</p>
					<p class="cc-button-area"><a href="#" class="cc-button">Saiba mais</a></p>
				</div>
			</li>
			<li class="cc-about-item cc-last">
				<div class="cc-img-engrenagem cc-img-sprite"></div>
				<div class="cc-about-wrapper">
					<h2 class="cc-header-2">Como funciona</h2>
					<p class="cc-text-2">{{ 'Saiba como o nosso processo criativo único torna tudo possível.' }}<br><br></p>
					<p class="cc-button-area"><a href="#" class="cc-button">Saiba mais</a></p>
				</div>
			</li>
		</ul>
	</section>
{% endblock %}

