{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
    <section class="cc-project">
        <div class="cc-wrapper">
            <h1 class="cc-project-title">{{ 'Escolha um projeto' }}</h1>
            <ul class="cc-project-itens">
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item cc-last">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
                <li class="cc-project-item">
                    <div class="cc-project-image">
                        <img class="cc-project-img" src="{{ asset('bundles/site/images/project/list.jpg')}}" alt="venere" />
                    </div>
                    <h2 class="cc-project-name">Venere.com logo contest</h2>
                    <p class="cc-project-prize">$10,000</p>
                    <div class="cc-project-end">
                        <p class="cc-project-end-text">6 days ago</p>
                        <div class="cc-project-end-bar"></div>
                    </div>
                    <div class="cc-project-status">
                        <img src="{{ asset('bundles/site/images/project/idea-icon.png')}}" alt="Ideia" />
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
