{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
    <section class="cc-contact cc-company">
        <div class="cc-company-header">
            <div class="cc-company-header-images">
                <div class="cc-company-logo">
                    <img class="cc-company-logo-img" alt="Logo da {{ entity.name }}" src="{{ asset(entity.getLogoWebPath()) }}" />
                </div>
                <div class="cc-company-background">
                    <img class="cc-company-background-img" alt="{{ entity.name }}" src="{{ asset(entity.getBackgroundWebPath()) }}" />
                </div>
            </div>
            <div class="cc-company-info">
                <div class="cc-company-info-title">
                    <h1 class="cc-company-title">{{ entity.name }}</h1>
                    <p class="cc-company-site">
                        <a href="http://{{ entity.site }}">{{ entity.site }}</a>
                    </p>
                </div>
                <div class="cc-company-info-detail">
                    <p class="cc-company-detail">{{ entity.detail }}</p>
                </div>
            </div>
        </div>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Createdate</th>
                    <td>{{ entity.createDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Users</th>
                    <td>
                        <ul>
                            {% for item in entity.users %}
                                <li><a href="{{ item.name }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="cc-button" href="{{ path('projetos_new', { 'id': entity.id }) }}">Adicionar</a>
    </section>

        <ul class="record_actions">
    <li>
        <a href="{{ path('marca') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('marca_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
